.search_wrapper{
    width: 500px;
    border: 1px solid gray;
    border-radius: 25px;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-550%);
}

input,
button{
    border:0;
    background-color: transparent;
}

.logo
{
    width: 235px;
    height: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-400%);
}

.fa fa-search{
    position: absolute;
    bottom: 0;
    float: left;
    width: 5%;
    font-size: 17px;
    border-left: none;
    cursor: pointer;
}

.input{
    font-size: 17px;
    width: 90%;
    background-color: white;
}

.microphone{
    position: absolute;
    left: 0;
    border-right:none;
    font-size: 17px;
    float: right;
    width: 5%;
    background-color: white;
    color: white;
    cursor: pointer;
}

.button1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-120%,-700%);
    border: 50px transparent;
    background: rgb(214, 213, 213);
}

.button2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(10%,-700%);
    border: 50px transparent;
    background: rgb(214, 213, 213);
}
